@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-serif: "Source Serif 4", serif;
}

@font-face {
  font-family: "Source Serif 4";
  src: url("/fonts/Source_Serif_4/static/SourceSerif4-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Serif 4";
  src: url("/fonts/Source_Serif_4/static/SourceSerif4-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Source Serif 4", serif;
}
